body{
    font-family: 'Futura Medium';
}

@font-face {
    font-family: 'Futura Medium';
    src: url(../fonts/Futura\ Medium.otf) format("truetype");
}
@media only screen and (max-width: 600px) {
    body {
      font-size: 1.2em!important;
    }
    h1, h2{
        font-size: 1.2em!important;
    }
    .pt-4{
        padding: 0!important;
    }
    .pb-4 {
        padding-bottom: 1rem!important;
    }
    .pt-5{
        padding-top: 0rem!important;
    }
    .pb-5 {
        padding-bottom: 1rem!important;
    }
    .pt-mobile{
        padding-top: 0.5em;
        margin: 0;
    }
    .pb-mobile{
        padding-bottom: 0.5em;
    }
    .pdb-0-mobile{
        padding-bottom: 0!important;
    }
    .row-padding-box {
        padding: 1em 0em 0em 0em!important;
    }
    .margin-menu {
        margin-top: 122px;
    }
  }
.margin-menu{
    margin-top: 120px;
}
.navbar-collapse {
    text-align: center
}
.fixed{
    position: fixed;
    width: 100%;
    background: #ffffff;
    z-index: 1;
    top: 0;
}
.background-octo{
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-position-y:center;
}
.navbar-light .navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
}
.section-margin{
    margin: 5rem 0 5rem 0;
}
.section-padding{
    padding: 5rem 0 5rem 0;
}
.section-padding-footer{
    padding: 2rem 0 2rem 0;
}

.topbar-content{
    justify-content: flex-end;
    width: 100%;
    display: flex;
}
.topbar-text{
    margin-bottom: 0;
    padding-right: 10px;
    display: flex;
    align-items: center;
    color:#464342!important;
    font-weight: 700;
}
.tb-button{
    margin: 5px;
}

#navbarContent{
    justify-content: space-between;
}
.button-celeste{
    border: 1px solid #009BDE;
    border-radius: 2px;
    color: #009BDE;
    font-size: 1.2em;
    font-weight: 700;
    padding: 5px 30px 5px 30px;
}
.button-celeste:hover{
    border: 1px solid #009BDE;
    color:  #ffffff;
    background-color: #009BDE;
}
.button-blue{
    border: 1px solid #060E9F;
    border-radius: 2px;
    color:  #060E9F;
    font-weight: 700;
}
.button-blue:hover{
    border: 1px solid #060E9F;
    color:  #ffffff;
    background-color: #060E9F;
}
.button-blue-dark{
    border: 1px solid #060E9F;
    border-radius: 2px;
    color:  #ffffff;
    font-weight: 700;
    background-color: #060E9F;
    padding: 5px 15px 5px 15px;
}
.button-blue-dark:hover{
    border: 1px solid #060E9F;
    color:  #060E9F;
    background-color: #fff;
}
.button-lightblue{
    border: 1px solid #009BDE;
    border-radius: 2px;
    color:  #ffffff;
    font-weight: 700;
    background-color: #009BDE;
    padding: 5px 15px 5px 15px;
}
.button-lightblue:hover{
    border: 1px solid #009BDE;
    color:  #009BDE;
    background-color: #fff;
}
.topbar{
    padding-bottom: 0;
}
.navbar2{
    padding-top: 0;
}
.nav-link{
    color:#464342!important;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8em;
}
.nav-link:hover{
    color:#060E9F!important;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-link.active{
    color: #009BDE!important;
    font-weight: 700;
}
.link-logo{
    width: 30%;
}
.logo{
    background-image: url(../img/logo-octopus.svg);
    background-repeat: no-repeat;
    height: 60px;
    vertical-align: baseline;

}
.container-fluid{
    padding: 0;
}

/*home*/

.container-jumbo{
    background-image: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    background-color: #060e9f47;
}
.subtitle{
    font-size: 2rem;
    width: 67%;
    color: #fff;
}
.title{
    font-size: 3.5rem;
    width: 59%;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 5px 9px black;
}
.jumbotron{
    height: 80vh;
    position: relative;
}
.jumbotron-content {
    position: absolute;
    bottom: 20%;
    left: 0;
}
.text-center{
    text-align: center;
}
.title-blue{
    color: #060E9F;
    font-weight: bold;
    font-size: 3em;
}
.img-center{
    text-align: center;
}
.large-button{
    border: 1px solid #060E9F;
    padding: 10px 60px 10px 60px;
    background-color: unset;
    color: #060E9F;
    border-radius: 0;
    font-weight: bold;
    font-size: 2.5em;
}
.large-button:hover{
    background-color: #060E9F;
    color: #fff;
}
.video{
    height: 66%;
    width: auto;
    object-fit: cover;
}
.circle-img{
    height: 12em;
    width: 100%;
    border-radius: 100px;
    object-fit: cover;
    object-position: 80% 50%;
}
.link-whatsapp{
    text-align: center;
    display: block;
    color: #30bf39;
    font-size: 1.2em;
}
.link-whatsapp:hover{
    color: #238b2a;
}
.title-2em{
    font-weight: bold;
    font-size: 2.5em;
}
.parrafo-2em{
    color: #060E9F;
    font-size: 1.5em;
}
.title-large{
    color:  #060E9F;
    font-weight: bold; 
    font-size: 4em;
}
.border-right{
    border-right: 1px solid #c1c1c1;
}
.vertical-align{
    display: flex;
    align-items: center;
}
.center{
    text-align: center;
    height: 25vh;
}
.testimonio{
    font-weight: bold;
    color: #000;
    font-size: 1.2em;
}
.testimonio-texto{
    font-weight: 100;
    color: #717171;
    line-height: 1.5;
    font-size: 1.5em;
}
.texto-nota{
    font-size: 1.2em;
    margin: 0;
}
.size-1-2em{
    font-size: 1.2em;
}
/*MEDIA QUERY HOME*/
@media only screen and (max-width: 600px) {
    .title {
        width: 100%;
        margin: 0;
    }
    .subtitle {
        font-size: 1.5rem;
        width: 100%;
        margin: 0;
    }
    .parrafo {
        font-size: 1em!important;
    }
    .video {
        height: 200px;
        width: 100%;
        object-fit: contain;
    }
    .large-button {
        padding: 10px 20px 10px 20px;
        font-size: 1em;
    }
    .testimonio {
        text-align: center;
        font-size: 1em;
        margin-top: 10px;
    }
    .testimonio-texto {
        font-weight: unset;
        line-height: normal;
        font-size: 1em;
        text-align: center;
    }
    .azul {
        margin-right: 0!important;
    }
    .celeste{
        text-align: center;
    }
    .circle-center-mobile{
        display: flex;
        justify-content: center;
    }
    .circle-img {
        height: 9em;
        width: 50%;
        margin-bottom: 1em;
    }
    .padding-only-mobile{
        padding: 1em 0 1em 0px!important;
    }
    .section-padding {
        padding: 2rem 0 2rem 0;
    }
    .parrafo-2em {
        font-size: 1.2em;
        text-align: center;
        width: 100%!important;
    }
    .title-2em{
        text-align: center;
    }
    .whatsapp-icon {
        margin-bottom: 10px;
    }
    .border-right {
        border-right: none;
    }
    .border-bottom-mobile {
        border-bottom: 1px solid #c1c1c1;
        text-align: center;
    }
    .send-button {
        padding: 10px 50px 10px 50px!important;
        font-size: 1em!important;
    }
    .container-middle {
        display: block!important;
    }    
    .copyright-text {
        margin-bottom: 15px;
        font-size: 0.7em;
    }
    .icons-footer {
        display: flex;
        justify-content: center!important;
    }
    .center-middle .azul{
        margin-right: 10px!important;
    }
    .center-middle {
        font-size: 0.6em;
    }
    .info {
        font-size: 1em!important;
    }
    .text-mobile{
        width: 100%!important;
        text-align: center;
        font-size: 1em!important;
        margin: 0;
        line-height: normal;
    }.title-mobile{
        text-align: center;
        margin: 0;
    }
    .size-2em {
        font-size: 1em!important;
    }
    .size-3em {
        font-size: 1em!important;
    }
    .middle-mobile{
        display: flex;
        justify-content: center;
        padding-bottom: 1em;
    }
    .copyright-text{
        padding-bottom: 1em;
    }
    .logo-footer {
        width: 50%;
    }
    .link-whatsapp {
        font-size: 1em;
        padding-bottom: 1em;
    }
    .jumbotron {
        height: 60vh;
        display: flex;
        align-items: center;
    }
    .jumbotron-content {
        position: relative;
        bottom: unset;
        left: unset;
    }
    .topbar-text{
        font-size: 0.8em;
    }
    .button-blue-dark {
        font-size: 0.5em;
    }
    .button-lightblue{
        font-size: 0.5em;
    }
    .logo{
        width: 100%;
    }
    .link-logo {
        width: 75%;
    }
    .navbar{
        padding-bottom: 0;
    }
    .testimonio-texto{
        width: 100%!important;
    }
    .container-circle{
        justify-content: center!important;
    }
    .white-shadow {
        font-size: 1.5rem!important;
    }
    
}  
/* DOS */
.box-height{
    height: 20em;
}
.box-padding{
    padding: 2em;
}
.container-circle{
    display: flex;
    justify-content: flex-end;
}
.container-circle-center{
    display: flex;
    justify-content: center;
}
.text-right{
    text-align: end;
}
.subtitle-size-2{
    font-size: 1.8em;
    line-height: 1.6;
    width: 85%;
}
.list-font{
    font-size: 1.8em;
}
.h-30{
    height: 30%!important;
}
.w-35{
    width: 35%;
    height: 135px;
}
.white-shadow{
    font-size: 3rem;
    width: 67%;
    color: #fff;
    text-shadow: 3px 5px 9px black;
}
.container-img-center{
    display: flex;
    justify-content: center;
}
.amazon{
    height: 15em;
    object-fit: contain;
    object-position: center;
}
.experiencia{
    height: 37em;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.amigable{
    height: 33em;
    width: 100%;
    object-fit: cover;
    object-position: center;  
}
.height-25{
    height:25vh;
}
.francisco{
    height: 25vh;
    object-position: 50% 15%;
    width: 100%;
    object-fit: cover;
}
.nombre{
    margin: 15px 0px 0px 0px;
    font-size: 1.2em;
    text-align: center;
}
.size-1em{
    font-size: 1em;
}
.cargo{
    text-align: center;
}
.end{
    display: flex;
    justify-content: flex-end;
}
.just-center{
    display: flex;
    justify-content: center;
}
.start{
    display: flex;
    justify-content: flex-start;
}
.overlay-edificios{
    background-image: url(../img/overlay-celeste.png);
    background-size: initial;
    background-repeat: no-repeat;
    background-position-y: center;
}
.background-overlay{
    background-color: #009bde61;
}
.edificios{
    background-image: url(../img/edificios.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:center;
}
.edificios-height{
    height: 50vh;
}
@media only screen and (max-width: 600px) {
    .w-35 {
        width: 50%!important;
        height: 9em;
    }
    .parrafo{
        margin: 0;
    }
    .margin-bottom-0{
        margin-bottom: 0;
    }
    .experiencia {
        height: 10em;
    }
    .parrafo{
        text-align:center;
    }
    .end {
        justify-content: center;
    }
    .start {
        justify-content: center;
    }
    .amigable {
        height: 10em;
    }
    .amazon {
        height: 10em;
    }
    .seguridad {
        height: 5em!important;
        width: 50%!important;
    }
    .overlay-edificios {
        background-size: cover!important;
    }
    .subtitle-size-2{
        width: 100%!important;
        font-size: 1em!important;
        line-height: normal!important;
        text-align: center;
    }
    .list-font{
        font-size: 1em!important;
    }
    .button-celeste {
        font-size: 1em;
        padding: 5px 10px 5px 10px;
    }
    .expensas{
        height: 50px!important;
    }
    .sueldos{
        height: 50px!important;
    }
    .reportes{
        height: 50px!important;
    }
    .impresiones{
        height: 50px!important;
    }
    .propietarios{
        height: 50px!important;
    }
    .padding-box-mobile{
        padding: 1.5em!important;
        margin-bottom: 1em!important;
    }
    .title-boxes-mobile{
        font-size: 1em;
        line-height: normal;
        margin-bottom: 25px!important;
    }
    .box-padding {
        padding: 1em;
    }
    .text-boxes-mobile{
        font-size: 0.8em;
        line-height: normal;
        margin: 0!important;
        height: 10em;
    }
    .mb-4 {
        margin-bottom: 24px;
    }
    .text-left{
        text-align: start!important;
    }
}

/*TRES */
.container-tres{
    background-image: url(../img/timbre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.jumbotron-tres {
    height: 100vh;
    position: relative;
}
.jumbotron-content-tres {
    position: absolute;
    bottom: 15%;
    left: 0;
}
.accordion-button {
    display: grid;
    border: none;
    line-height: 3;
}
.accordion-body {
    text-align: center;
}
.accordion-button::after {
    background-position-x: center;
    margin: 0;
    width: 100%;
    background-image: url(../icons/arrow-down.svg);
}
.accordion-button:not(.collapsed){
    color: #0c63e4;
    background-color: unset;
}
.background-1{
    background-color: #f5f5f5;
}
.background-2{
    background-color: #fcfcfc;
}
.reclamos{
    width: 100%;
    height: auto;
    padding: 2em;
}
.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow:none;
}
.links-preguntas{
    list-style: none;
    text-align: start;
}
.links-preguntas li{
    padding-bottom: 1em;
}
.links-preguntas li a{
    text-decoration: none;
}
.accordion-collapse {
    border: none;
}
.inline{
    display: inline;
}
.mb-24px{
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .jumbotron-tres {
        height: 60vh;
        display: flex;
        align-items: center;
    }
    .jumbotron-content-tres {
        position: relative;
        bottom: unset;
        left: unset;
    }
    .accordion-item:first-of-type .accordion-button{
        padding: 1em;
    }
    .accordion-button{
        padding: 0.5em!important;
        line-height: 2!important;
    }
    .links-preguntas {
        padding: 0;
        text-align: center;
        font-size: 0.8em;
    }
    .inline{
        display: block;
    }
    .reclamos{
        padding: 0;
        margin-top: 24px;
    }
    .accordion-body {
        padding: 1rem;
    }
    .mb-24px{
        margin-bottom: 24px;
        font-weight: bold;
    }
    .size-1-2em {
        font-size: 1em;
    }
    .background-octo {
        background-size: contain;
    }

}
/* CUATRO */
.circle-middle{
    height: 15em;
}

.infinito{
    width: 50%;
    text-align: center;
}
.container-cuatro{
    background-image: url(../img/chico.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.acordion-flex{
    display: flex;
    justify-content: center;
}

.container-icon-flex{
    height: 10em;
    display: flex;
    align-items: center;
}
.accordion-button-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}
.accordion-button-icon{
    display: grid;
    border: none;
    line-height: 1;
}
.small-black{
    color: #000;
    font-weight: bold;
    font-size: 1em;
}
.container-gato{
    background-image: url(../img/gato.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.align-center{
    width: 70%;
    text-align: center;
}
.container-icon{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .small-black{
        line-height: normal;
        padding-bottom: 1em;
    }
    .circle-middle{
        height: unset;
    }
    .d-block-mobile{
        display: block!important;
    }
    .container-icon-acordeon{
        height: 5em!important;
        display: flex;
        align-items: center;
    }
    .notificacion, .pagos, .mensajes, .amenities{
        margin: 0!important;
        height: 60px!important;
    }
    .size-3em {
        font-size: 1.2em!important;
    }
}
/*CINCO*/
.img-col-6{
    width:100%;
    height:auto;
}
.box-notas{
    padding: 2em 4em 2em 4em;
    height: 30em;
}
.tiny-title{
    text-align: center;
    font-size: 0.9em;
}
.note-title{
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    padding-bottom: 25px;
}
.note-content{
    font-size: 0.9em;
    font-weight: 100;
    line-height: 1.8;
    color: #575757;
}
.note-img{
    width: 100%;
}
.text-red{
    color:red;
}
.box-3col{
    padding: 0.5em 1.5em 0.5em 1.5em;
    height: 27em;
}
.border-right-box{
    border-right: 1px solid #b5b5b5;
}
.row-padding-box{
    padding: 2.5em 0 2.5em 0em;
}

.border-bottom-box{
    padding: 2.5em 0 2.5em 0em;
    border-bottom: 1px solid #b5b5b5;
}
@media only screen and (max-width: 600px) {
    .box-notas {
        padding: 1em;
        height: 25em;
        display: flex;
        margin-bottom: 12px;
        align-items: center;
    }
    .border-right-box {
        border-right: none;
    }
    .border-bottom-box {
        padding: 0em;
        border-bottom: none;
    }
    .box-3col {
        padding: 2em 1em 0em 1em!important;
        height: unset;
    }
    .padding-top-0{
        padding-top: 0!important;
    }
    .note-content{
        line-height: normal;
    }
    .note-img {
        margin-top: 1em;
    }
}

/*SEIS*/
.w-80-img{
    width: 80%;
    height: auto;
}
.pb-1em{
    padding-bottom: 1em;
}
.pt-1em{
    padding-top: 1em;
}
.banner-right{
    width: 100%;
    margin-bottom: 5em;
}
@media only screen and (max-width: 600px) {
    .img-nota-mobile{
        width: 100%;
    }
    .w-100-mobile{
        width: 100%!important;
    }
    .pb-2em-mobile {
        padding-bottom: 2em!important;
    }
    .pt-1em-mobile{
        padding-top: 1em!important;
    }
    .line-normal{
        line-height: normal;
    }
    .pb-1em-mobile {
        padding-bottom: 1em;
    }
    .pt-1em{
        padding: 0!important;
    }
    .banner-right {
        margin-bottom: 0em;
    }
    .margin-mobile{
        margin-bottom: 2em;
        margin-top: 2em;
    }
}
/*FOOTER*/
.title-bold{
    font-weight: bold;
    font-size: 3em;
}
.parrafo{
    color: #717171;
    font-size: 2em;
}
.w-90{
    width: 90%;
}

.container-info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}
.info{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.height{
    height: 10%;
}
.azul{
    font-weight: bold;
    color: #060E9F;
    margin-right: 25px;
}
.bold-black{
    font-weight: bold;
}
.size-2em{
    font-size: 1.8em;
}

.celeste{
    font-weight: bold;
    color: #009BDE;
}
.size-3em{
    font-size: 3em;
}
.gris{
    font-weight: bold;
    color: #717171;
}
.number{
    font-size: 1.5em;
}
.background-grey{
    background-color:#f7f7f7;
}
.form-footer{
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 0;
    font-weight: lighter;
    color: #929292;
}
.send-button{
    border-radius: 0;
    background-color: #009BDE;
    border: none;
    padding: 10px 80px 10px 80px;
    text-transform: uppercase;
    font-size: 1.2em;
}
.center-middle{
    margin: 0;
}
.background-grey2{
  background-color: #d9d9d9;
}
.logo-footer{
    background-image: url(../img/logo-black.svg);
    background-repeat: no-repeat;
    height: 60px;
    vertical-align: baseline;
}
.link-footer{
    width: 100%;
    height: fit-content;
}
.icons-footer{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
.container-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.footer{
    display: flex;
    justify-content: flex-start;
    height: 100%;
}
.container-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright-text{
    width: 100%;
    height: fit-content;
    margin: 0;
    color: #717171;
}
/* ICONS */
.facebook-icon{
    background-image: url(../icons/facebook.svg);
    background-repeat: no-repeat;
    height: 30px;
    vertical-align: middle;
    width: 30px;
}
.youtube-icon{
    background-image: url(../icons/youtube.svg);
    background-repeat: no-repeat;
    height: 30px;
    vertical-align: middle;
    width: 30px;
}
.instagram-icon{
    background-image: url(../icons/instagram.svg);
    background-repeat: no-repeat;
    height: 30px;
    vertical-align: middle;
    width: 30px;
}
.whatsapp-icon{
    background-image: url(../icons/whatsapp.svg);
    background-repeat: no-repeat;
    height: 50px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.expensas{
    background-image: url(../icons/expensas.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.sueldos{
    background-image: url(../icons/sueldos.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.reportes{
    background-image: url(../icons/reportes.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.impresiones{
    background-image: url(../icons/impresora.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.propietarios{
    background-image: url(../icons/propietarios.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.seguridad{
    background-image: url(../icons/seguridad.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 9em;
    vertical-align: middle;
    background-position: right;
    width: 100%;
    margin-bottom: 25px;
}
.espiritu-innovador{
    background-image: url(../icons/idea.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.usuario{
    background-image: url(../icons/iniciar-sesion.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.objetivo{
    background-image: url(../icons/flujo-de-trabajo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.beneficio{
    background-image: url(../icons/objetivo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.informacion{
    background-image: url(../icons/computacion-en-la-nube.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.actualizacion{
    background-image: url(../icons/mantenimiento.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.soporte{
    background-image: url(../icons/ayuda.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.multiusuario{
    background-image: url(../icons/monitor.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.dispositivo{
    background-image: url(../icons/dispositivo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.cheque{
    background-image: url(../icons/cheque.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.notificacion{
    background-image: url(../icons/alarma.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.pagos{
    background-image: url(../icons/smartphone.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.mensajes{
    background-image: url(../icons/mensaje.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.amenities{
    background-image: url(../icons/amenities.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.infinito{
    background-image: url(../icons/infinito.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.infinito{
    background-image: url(../icons/infinito.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.cash-info{
    background-image: url(../icons/info.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.comunicacion{
    background-image: url(../icons/comentario.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}
.tiempo{
    background-image: url(../icons/tiempo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    vertical-align: middle;
    background-position: center;
    width: 100%;
    margin-bottom: 25px;
}